# Python cache & virtualenv
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
env/
venv/
*.egg-info/
*.egg
*.log

# Secrets & configs
.env
.env.*

# Logs
logs/
*.log

# Build/Dist
docuintel_RAG_portal.egg-info/
dist/ 
build/

# experiments
notebook/

# Data & archive
data/
archive/
main_archive/
*.pdf

# LangChain-related
faiss_index/
*.faiss
*.pkl

# OS & editor files
.DS_Store
.vscode/
.idea/